* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* your menu design here */
header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5: 
}


/* your hamburgermenu icon start here */
header span{
    width: 43px;
    height: 7px;
    border-radius: 10px; 
    background-color: white;
    display: block;
    margin: 10px 0; 
    z-index: -1; 
    transition: 0.3s;
}

header input {
    width: 46px;
    height: 50px; 
    position: absolute;
    opacity: 0;
    left: 0px; 
    top: 5px;
    border: 0  none; 
    cursor: pointer;
    
}

header input:checked ~ span {
    background-color: blue; 
}


/* your menu design start here */

.your-menu {
    background: black; 
    margin: 60px 0 0 0 ; 
}

.your-menu ol {
    height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.your-menu ol li {
    text-decoration: none;
}

.your-menu ol li a {
    text-decoration: none;
    color: white; 
    font-size: 1.2rem;
}

.your-menu ol li a:hover {
    color: blue; 
}